<fieldset class="module aligned {{ fieldset.classes }}">
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %} inner">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                {% include 'admin/includes/field.html' %}
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>

