{% load i18n mptt_tags cms_tags %}<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

<head>
    <title>{{SITE_NAME}} | {% block meta_title %}No title set for this page{% endblock %}</title>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="google-site-verification" content="{% block google_site_verification %}{% endblock %}" />
    <meta name="author" content="{{AUTHOR}}" />
    <meta name="Copyright" content="Copyright {{AUTHOR}} {% now 'Y' %}. All Rights Reserved." />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
    <link rel="stylesheet" href="/static/css/sixteen.css" />
    {% if request.is_preview %}
    <link rel="stylesheet" type="text/css" href="/static/admin/contenttools/content-tools.min.css">
    {% endif %}
    <style type="text/css">
    .wrapper{
        max-width: 1024px;
        margin: 0 auto;
    }
    </style>

</head>

<body {% if request.is_preview %}data-translation-id="{{page.translated.id}}"{% endif %}>
    <div class="wrapper">
        {% home_page as home %}
        {% if request.is_preview %}<div class="alert">{% trans "You are in preview mode" %} <a href="{% url 'admin:cmsbase_page_changelist' %}">{% trans "Back to admin" %}</a></div>{% endif %}

        <header>
            <h1>
                <a href="{{home.get_absolute_url}}">{{SITE_NAME}}</a>
            </h1>
            {% full_tree_for_model cmsbase.Page as pages %}
            <ul>
            {% recursetree pages %}
                {% if node.get_published and not node.get_published.hide_from_nav %}<li class="{% if request.path == node.get_absolute_url %}active{% endif %}">
                    <a href="{{node.get_absolute_url}}" {% if not node.get_published.target == '_self' %}target="{{node.get_published.target}}"{% endif %}>{{node.get_published.translated.title}}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>{% endif %}
            {% endrecursetree %}
            </ul>
        </header>
        
        <div class="grid">
            <div class="grid__span-12">
                {% block main %}{% endblock %}
            </div>
        </div>
        
        <footer>
            {% if MULTILINGUAL %}
                <p>{% trans "Choose language:" %}
                <!-- Language picker -->
                {% for lang in LANGUAGES %}
                    <a href="">{{ lang.1|safe }}</a>
                {% endfor %} 
                <!-- End language picker -->
                </p>
            {% endif %}
            <p>&copy; Copyright {{AUTHOR}} {% now 'Y' %}. All Rights Reserved.</p>
        </footer>
    </div>
{% block footer_scripts %}
{% if request.is_preview %}
{% csrf_token %}
<script type="text/javascript" src="/static/admin/contenttools/content-tools.min.js"></script>
<script type="text/javascript" src="/static/admin/js/sandbox.js"></script>
{% endif %}
{% endblock footer_scripts %}
</body>
</html>
