{% extends 'admin/change_form.html' %}
{% load i18n admin_static admin_modify admin_urls %}


{% block bodyclass %}{{block.super}} {% if original %}action-change{% else %}action-add{% endif %}{% endblock %}
{% block breadcrumbs %}

	{{block.super}}
	
	{% if original and not original.has_published_version %}
	<div class="alert alert-warning"><i class="glyphicon glyphicon-time"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} is not published and requires moderation{% endblocktrans %}</div>
	{% elif original and original.has_published_version and not original.approval_needed %}
	<div class="alert alert-success"><i class="glyphicon glyphicon-ok"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} is currently published {% endblocktrans %}</div>
	{% elif original and original.has_published_version and original.approval_needed %}
	<div class="alert alert-warning"><i class="glyphicon glyphicon-ok"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} has an older version published but the latest update needs moderation{% endblocktrans %}</div>
	{% endif %}
	
{% endblock %}

{% block submit_buttons_bottom %}
<div class="form-actions">
	<div class="row-fluid">
		<div class="span12">
			
			{% if original %}<li><a href="delete/" class="deletelink btn btn-danger pull-right">{% trans "Delete" %}</a></li>{% endif %}
			
			<button class="btn btn-primary" type="submit" name="_save">{% trans 'Save' %}</button>
			<div class="btn-group">
			  
			  	{% if perms.cmsbase.can_publish and original %}
			  	<button type="submit" name="_publish" class="btn btn-default">{% trans 'Save & Publish' %}</button>
			  	<button type="submit" name="_preview" class="btn btn-default">{% trans 'Save & Preview' %}</button>
			  	{% endif %}
			  	
			    <button type="submit" name="_continue" class="btn btn-default">{% trans 'Save & Continue editing' %}</button>

			</div>
			<a href="{% url opts|admin_urlname:'changelist' %}" class="btn">{% trans "Cancel" %}</a>	
		</div>
	</div>
</div>
{% endblock %}